<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ todo_detail.name }}</h1>
    <p><a href="{% url 'todo_list_update' todo_detail.id %}">Edit</a></p>
    <p><a href="{% url 'todo_list_delete' todo_detail.id %}">Delete</a></p>
    <p><a href="{% url 'todo_list_list' %}">List page</a></p>
    <h2>Tasks</h2>
    <table>
        <thead>
            <th>Task</th>
            <th>Due Date</th>

        </thead>
        <tbody>
            {% for todo in todo_detail.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' todo.id %}"> {{ todo.task }}</a> </td>
                    <td>{{ todo.due_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>